[global]
language=de
default_sound=birds

birds=birds.mp3
concerto=d-major.mp3
tschaikowski=elegie.mp3
moonlight=moonlight.mp3
schumann=traeumerei.mp3
annoying=alarm.mp3
mine=/opt/Sounds/song.ogg

fade_in=30
[secret]
